@model ASP.Net_Project.Models.ChickenTree

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="" />
</head>
<body>
	<div class="Welcome">

	</div>
	<div>
		<form asp-controller="ChickenTree" asp-action="addChicken" method="post">
			<input type="text" name="nameChickenMom" placeholder="Nombre de la madre" />
			<input type="text" name="nameChickenSon" placeholder="Nombre de la gallina" />
			<button type="submit">Guardar Gallina</button>
		</form>
	</div>
	<div>
		<h2>Árbol de Pollos</h2>
	<pre>
			@ViewData["ArbolTexto"]
	</pre>
	</div>
</body>
</html>
