<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP.Net_ProjectC</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" href="~/img/Imagen_de_WhatsApp_2025-05-20_a_las_08.53.04_91b42b24-removebg-preview.png" type="img/png"/>
</head>
<body>
    <header class="layout">
        <div class="navbar">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img class="logo" src="@Url.Content("~/img/Imagen_de_WhatsApp_2025-05-20_a_las_08.53.04_91b42b24-removebg-preview.png")" alt="Logo" />
            </a>
            <nav class="nav-links">
                
                <a asp-area="" asp-controller="Home" asp-action="Index">
					Home
                </a>
                
                
                <a asp-area="" asp-controller="User" asp-action="Login">
					User Game
                </a>
                
                <a asp-area="" asp-controller="ChickenTree" asp-action="Farm">
					Chicken Game
                </a>
                
            </nav>
            <button class="contact">
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    Conoceme
                </a>
            </button>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Aprende ASP.NET Core MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
