body {
}
.chickenpage {
    margin-left: 60px;
    margin-right: 70px;
}

.titlechicken {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 100px;
    margin-block-start: 150px;
    margin-block-end: 0;
}
.subtitchicken {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    font-weight: 300;
}
.motivate {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    margin-block-end: 100px;
    font-weight: 400;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(200, 200, 200,0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: rgba(200, 200, 200,0.3);
    backdrop-filter: blur(10px);
    width: 400px;
    height: 350px;
    margin: 80px auto;
    padding: 0 10px;
    position: relative;
}

.logintxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ocupa todo el alto del recuadro */
    width: 100%;
    margin: 0;
}

    .logintxt input {
        display: block;
        margin: 10px 0;
    }

    .logintxt button {
        align-self: center;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 8px;
        background-color: black;
        border: none;
        padding: 8px 24px;
        width: 300px; /* Igual que los inputs si quieres que se vea alineado */
        color: white; /* Opcional: para que el texto sea visible */
        font-size: 16px;
    }
.chickenimg {
    height: 100px;
    width: 100px;
}
